.icon-gk-all{background:url(../images/new_all.png) no-repeat;}
.icon-gk-sr{background:url(../images/new_server.png) no-repeat;}
.icon-gk-in{background:url(../images/new_event.png) no-repeat;}
.icon-gk-pro{background:url(../images/icon-gk-pro.png) no-repeat;}
.icon-gk-chg{background:url(../images/new_change.png) no-repeat;}
.icon-gk-release{background:url(../images/new_out.png) no-repeat;}