body {
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

#mainTab {
	position: absolute;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	text-align: center;
	overflow-y: hidden;
}

#grid {
	overflow: hidden;
	height: auto;
	width: auto;
	text-align: left;
}

#showicon {
	height: 16px;
	width: 16px;
	text-align: left;
	margin-right: 3px;
	vertical-align: middle;
}
